/node_modules
/public/assets
/public/hot
/public/js
/public/storage
/public/vendor
/public/photos
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
